@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Poppins", sans-serif;
}

/* ######################### utility classes ################################ */

    .container{
        max-width: 1200px;
        width: 90%;
        margin: auto;
    }

    .btn{
        display:inline-block;
        padding: 1em 2.5rem;
        text-decoration: none;
        border-radius: 50px;
        cursor: pointer;
        outline: none;
        margin-top: 1.5em;
        text-transform: uppercase;
        font-weight: 500;
    }

    .btn-primary{
        color: #fff;
        background-color: #16a083;
    }

/* ######################### navbar styling ################################ */

/* for desktop mode */

.navbar input[type='checkbox'],
.navbar .hamburger-lines{
    display: none;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 10;
}

.navbar-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 64px;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}

.menu-items{
    order: 2;
    display: flex;

}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.6rem;
}

.logo{
    order: 1;
    font-size: 2.5rem;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
}

.navbar a:hover{
    color: aqua;
}


/* ######################## Showcase Menu Styling ############################### */

.showcase-area{
    height: 50vh;
    background: url(./img/header-image2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.showcase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.2rem;
}

.main-title{
    text-transform: uppercase;
}


/* ######################## About Styling ############################### */

#about{
    padding: 50px 0px;
    background: #f5f5f7;
}

.about-wrapper{
    display: flex;
}

#about h2{
    font-size: 3rem;
}

#about p{
    font-size: 1.3rem;
    color:  #555;
}

#about .small{
    font-size: 1.3rem;
    color: #666;
    font-weight: 600;
}

.about-img{
    
}