@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Poppins", sans-serif;
}

/* ######################### utility classes ################################ */

    .container{
        max-width: 1200px;
        width: 90%;
        margin: auto;
    }

/* ######################### navbar styling ################################ */

/* for desktop mode */

.navbar input[type='checkbox'],
.navbar .hamburger-lines{
    display: none;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 10;
}

.navbar-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 64px;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}

.menu-items{
    order: 2;
    display: flex;

}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.8rem;
}

.logo{
    order: 1;
    font-size: 3rem;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
}

.navbar a:hover{
    color: aqua;
}